html, body {
    height: 100%;
}

.bg-cover {
    background-image: url('../images/banner.jpeg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.body {
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/polo.jpeg') no-repeat top center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.pointer {
    cursor: pointer;
}

.box {
    border-radius: 10px;
    transition: all ease .3s;
}

.caption strong {
    display: none;
}

.box:hover {
    background-color: #eee;
}

.box:hover i {
    scale: 1.5;
}

.card:hover strong {
    display: inline-block;
}

.title {
    font-size: 5em;
    text-transform: capitalize;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: xx-large
    }
}
