html, body {
    height: 100%;
}

.bg-cover {
    background-image: url('../images/banner.jpeg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.body {
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/polo.jpeg') no-repeat top center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.pointer {
    cursor: pointer;
}

.box {
    border-radius: 10px;
    transition: all ease .3s;
}

.caption strong {
    display: none;
}

.box:hover {
    background-color: #eee;
}

.box:hover i {
    scale: 1.5;
}

.card:hover strong {
    display: inline-block;
}

.title {
    font-size: 5em;
    text-transform: capitalize;
    font-weight: bold;
    background: linear-gradient(#812DE2, #812DE2);
    /* background: -webkit-linear-gradient(#eee, #333); */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: xx-large
    }
}

.border-grad {
    border-image: linear-gradient(to right, #812DE2, #812DE2);
    border-width: 2px;
    background-color: transparent;
    border-image-slice: 1;
    border-color: transparent;
}

.border-d {
    border: 3px solid transparent;
    border-image: linear-gradient(to right, #812DE2, #812DE2);
    border-image-slice: 1;
    text-decoration: none;
}

.gridd {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto auto
}

.gridd h4 {
    font-weight: 900;
    color: #eeeeee;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.gridd p {
    color: black;
    font-size: 18px;
    margin-bottom: 0;
}

.oval {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .gridd {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    .oval {
        width: 400px;
        height: 400px;
    }
}
